html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  text-align: left;
}

a:visited {
  color: #000;
}

#content {
  flex: 1 0 auto;
}

#header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: linear-gradient(#e7e7e7, #fff);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 2px 4px 0px rgba(174, 174, 174, 0.3);
}

#header-container,
#subheader-container,
#main-container,
#footer-container {
  margin: auto;
  width: 80%;
  min-width: 280px;
  max-width: 960px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#logo > div:first-of-type {
  line-height: 1.5rem;
}

#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name,
#inbox-count {
  font-weight: 500 !important;
}

#subheader {
  padding-top: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 1px 2px 0px rgba(174, 174, 174, 0.2);
}

#subheader-container {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

#inbox-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

#inbox-total {
  display: flex;
  align-items: flex-end;
}

#main {
  padding-top: 0.75rem;
}

#footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
  border-top: 1px solid #d4d4d4;
  background: linear-gradient(#fff, #e7e7e7);
}

.feather-mail {
  width: 38px;
  height: 32px;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #edbb71;
  -webkit-transition: fill 0.25s;
     -moz-transition: fill 0.25s;
       -o-transition: fill 0.25s;
          transition: fill 0.25s;
}

.feather-mail:hover {
  fill: rgba(0, 200, 255, 0.5);
}

.feather-trash {
  width: 19px;
  height: 19px;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgba(255, 0, 0, .25);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.email {
  border: 1px solid #000;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 2px 0px rgba(174, 174, 174, 0.2);
  max-height: 568px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.email-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 249, 196, 0.5);
  height: 3rem;
  padding: 4px;
}

.email-header,
.open-email,
.read-email {
  -webkit-transition: background-color 0.1s;
     -moz-transition: background-color 0.1s;
       -o-transition: background-color 0.1s;
          transition: background-color 0.1s;
}

.email-header-top,
.email-header-bottom {
  display: flex;
  justify-content: space-between;
}

.email-sender {
  font-weight: 500;
}

.email-body {
  margin: 8px;
  max-height: 568px;
  opacity: 1;
  -webkit-transition: all 0.066s ease-in-out, opacity 0.33s;
     -moz-transition: all 0.066s ease-in-out, opacity 0.33s;
       -o-transition: all 0.066s ease-in-out, opacity 0.33s;
          transition: all 0.066s ease-in-out, opacity 0.33s;
}

.email-body-hidden {
  margin: 0 8px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.email-incoming {
  max-height: 0;
  opacity: 0;
}

.open-email {
  background-color: rgba(164, 221, 164, 0.25) !important;
  border-bottom: 1px solid #d4d4d4;
}

.read-email {
  background-color: #eee;
}

.fade-email {
  max-height: 0;
  opacity: 0;
}