
body {
    background-image: url(http://ak7.picdn.net/shutterstock/videos/1786637/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    height: 120px;
    width: 120px;
    float: right;
}

.geeMail {
    font-size: 50px;
    color: magenta;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

.counter {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
}


.messages{
    cursor:pointer;
    padding-top: 10px;
    margin-left: 5px;
}

.headings {
    background-color: pink;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: magenta;
}

.senderHeading {
    display: inline-block;
    width: 33%;
}

.subjectHeading {
    text-align: center;
    display: inline-block;
    width: 33%;
}

.dateHeading {
    text-align: right;
    display: inline-block;
    width: 33%;
}

.body {
    display: none;
    font-size: 18px;
    text-align: center;
    position: relative;
	background: pink;
    border-radius: .4em;
    margin-top: 18px;
    font-family: 'Signika', sans-serif;
    padding: 10px;
}

.body::after {
    content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: pink;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

.sender {
    display: inline-block;
    width: 33%;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-weight: bold; 
}

.subject {
    text-align: center;
    display: inline-block;
    width: 33%;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-weight: bold;


}

.date {
    text-align: right;
    display: inline-block;
    width: 33%;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

